@import url("social.css");


body {
	font-family: sans-serif;
	background: #eef;
	margin: 0em;
	padding: 0em;
}

article {
  background: white;
  padding: 0.5em;
}
	
.article-not-first {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #dde;
}
	
.literal-block {
	font-family: monospace;
	background: #eef;
	margin: 1em;
	padding: 0.25em;
  border-style: solid;
  border-width: thin;
  border-color: #dde;
}

#post-list {
	list-style: none;
	margin: 0em;
	padding: 0em;
}

.post-info {
	display: inline-block;
	float: right;
	right: 0%;
	top: 0%;
	text-align: right;
	font-size: small;
}

.entry-title {
	margin-top: 0em;
}

.content {
	width: 80%;
	float: left;
	display: inline-block;
}

.side {
	width: 18%;
	margin: 0em;
  display: inline-block;
  padding: 0.25em;
  background: #fff;
}


#banner {	
	text-align: center;
	margin-bottom: 1em;
}

#banner h1 {
	margin: 0em;	
}

#white {
	background: #fff;
}

#white:after {
    clear: both;
    content: "";
    display: table;
}

.tag-list {
	text-align: center;
	margin: 0em;
	padding: 0em;
	font-size: small;
}

.tag-item {
	display: inline-block;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

address {
	font-size: small;
	font-style: normal;
	color: #444;
	clear: both;
  margin: 0em;
  padding: 1em;
  text-align: center;
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: #dde;
}

